*[hidden] { display: none; }

#text{
    font-size: 40px;
}

.icon{
    width: 30%;
    height: auto;
}



.icon_small{
	width: 35px;
	height: 35px;

}




body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-third img{margin-bottom:-6px;opacity:0.8;cursor:pointer}
.w3-third img:hover{opacity:1}
.w3-btn {width:150px;}

/* for slideshow */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


/* move the person icon down a little bit */
.material-icons {vertical-align:-14%}


/* For game page char block, the browse need to be hidden. */
#mediaCapture {
  display: none;
}

/* Set each page body's size */
.body-max-width {
	max-width:1600px;
}

.header-max-width {
	max-width:1600px;
}

.sidenav-style {
	z-index:3;
	width:300px;
	font-weight:bold; 
}

.left_side_info_panel-style {
	display:none;
	z-index:3;
	width:200px;
	font-weight:bold; 
}


.right_side_chat_room-style {
	display:none;
	right:0;
	z-index:3;
	width:200px;
	font-weight:bold; 
}

.online_game_bottom_buttons {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.local_game_bottom_buttons {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}


.login-dropdown {
	right:1;
}

.login-dropdown-small {
	right:0;
}

.sidenav-overlay {
	cursor:pointer;
}

.web-page-content {
	margin-left:300px;
}

.pushdown-content {
	margin-top:83px;
}

.pushdown-content-in-use{
	margin-top:0px;
}

.editor_page_input {
	width: 200px;
}

.editor_page_bar_buttons{
	width: 100px;
}

.editor_slider_bar {
	width: 230px;
}

.editor_slider_var {
	margin-left: 20px;
}

input[type='range'] {
-webkit-appearance: none;
padding-left:2px; padding-right:2px;
-webkit-border-radius: 5px;

}


.editor_page_map_icon {
	width: 50px;
}

.editor_page_progressbar {
	width:1%;
}

.game_page_message_box {
	height: 450px;
	width: 350px;
}

.game_page_small_message_box {
	height: 350px;
	width: 180px;
	margin-left: 10px;
}

.game_page_message_input {
	width: 150px;
}

.game_page_browse_img {
	width: 100px;
}

.myMapCard {
	width: 70%;
	margin-left: 60px;
}


.game_page_message_box {
	text-align:left;
  	overflow-y: auto;
}

.game_page_small_message_box {
	text-align:left;
	overflow-y: auto;
}


.adSlides-local-section {
	margin-bottom:30px;
}

.adSlides-game-section  {
	margin-bottom:30px;
}

.local_adSlides {
	width: 85%;
	margin-left: 25px;
}

.game_adSlides {
	width: 85%;
	margin-left: 25px;
}



